@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp>
    <label>Question: </label>
    <input type="text" name="question" />
    <button type="submit" value="ask question">LookUP!</button>
</form>

<p>@Model</p>